<section id="research">
<div class="container">
  <h3>Research Interests and Selected Publications</h3>
  <div class="panel panel-default">
    <div class="panel-body">

    	<hr/>

    	<h5>
    		<p>
    			My dissertation research looks at the social dynamics of FOSS systems, charting how projects work, and how they work through collaboration challenges. Armed with perspectives from communications, organizational behavior and social psychology, the research digs into conflicts to find out what makes and breaks working together online. The work hopes to improve the experience of both FOSS projects and organisations that rely on remote work.
    		</p>
    		<p>
    			I am also interested in other social computing challenges, such as growing software communities through community code engagements and unpacking the paradox between privacy and personal information disclosure on social media. 
    		</p>
    		<p> Below are a few representative publications. </p>
    	</h5>


    	<hr/>

        <div class="overview">
    	<h5>
			<i class="fa fa-file-text"></i>&nbsp;&nbsp;<strong>Anna Filippova</strong> and Hichang Cho (In Press) The Effects and Antecedents of Conflict in Free and Open Source Software Development. In <em>Proceedings of the 19th ACM Conference on Computer Supported Cooperative Work & Social Computing (CSCW '16)</em>. ACM, New York, NY, USA. 
		</h5>
		<h5>
			<i class="fa fa-file-text"></i>&nbsp;&nbsp;Hichang Cho and <strong>Anna Filippova</strong> (In Press)  Networked Privacy Management in Facebook: A Mixed-Methods and Multinational Study. (<strong>Best Paper Honorable Mention</strong>) In <em>Proceedings of the 19th ACM Conference on Computer Supported Cooperative Work & Social Computing (CSCW '16)</em>. ACM, New York, NY, USA. 
		</h5>
		<h5>
			<i class="fa fa-file-text"></i>&nbsp;&nbsp;<strong>Anna Filippova</strong> and Hichang Cho (2015) Mudslinging and Manners: Unpacking Conflict in Free and Open Source Software. In <em>Proceedings of the 18th ACM Conference on Computer Supported Cooperative Work & Social Computing (CSCW '15)</em>. ACM, New York, NY, USA, 1393-1403. <strong><a href="http://dx.doi.org/10.1145/2675133.2675254">DOI</a></strong>
		</h5>
		<h5>
			<i class="fa fa-file-text"></i>&nbsp;&nbsp;Hichang Cho, Siyoung Chung and <strong>Anna Filippova</strong>  (2015) Perceptions of social norms surrounding digital piracy: The effect of social projection and communication exposure on injunctive and descriptive social norms. <em>Computers in Human Behavior, 48,</em> 506–515. <strong><a href="http://dx.doi.org/10.1016/j.chb.2015.02.018">DOI</a></strong>
		</h5>

		<h5>
			<i class="fa fa-file-text"></i>&nbsp;&nbsp;<strong>Anna Filippova</strong> and Hichang Cho (2014) Below boiling point: negotiating conflict thresholds in distributed work. In <em>Selected Papers of the Association of Internet Researchers (AoIR 15.0: Boundaries and Intersections)</em>, Daegu, South Korea.
		</h5>
		<h5>
			<i class="fa fa-file-text"></i>&nbsp;&nbsp;Hichang Cho, Siyoung Chung, and <strong>Anna Filippova</strong>(2013) Estimating prevalence of digital piracy: An examination of interacting sources and effects on downloading behavior. <em>Paper presented at the 63rd Annual Conference of the International Communication Association (ICA)</em>, London, UK.
		</h5>
        </div>

    </div>
  </div>
</div>
</section>
