<section id="talks">
<div class="container">
  <h3>Talks</h3>
  <div class="panel panel-default">
    <div class="panel-body">

    <hr/>

        	<h5>
    		<p>Selected non-academic speaking engagements, invited talks and interviews. You will also find me running meetups, workshops, and hosting conferences. </p></h5>


    <hr/>

    <div class="overview">

		<h5>
			<i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=mWzaYp4HEZQ">Getting Com-fur-table with Python Pandas</a></strong> - Pittsburgh Code & Supply/PGHPython Meetup [<a href="http://tinyurl.com/pandas-pythonpgh">materials</a>].
		</h5>
		<h5>
			<i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=Th_EcRzKVQU">SG Geek Girls Maker Series</a></strong>
			- The Paradox of Open Source Software: debunking common myths.
		</h5>
		<h5>
			<i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a href="https://www.youtube.com/watch?v=DTICUYrQF8o
		">Hackatron Asia: Show &amp; Tell by Ruby Group and Rails Girls </a></strong>
			- Build it and convince them to come: lessons from Ruby on optimizing for developer happiness.
		</h5>
		<h5>
			<i class="fa fa-microphone"></i>&nbsp;&nbsp;<strong><a href="https://live.webuild.sg/025-anna-mic-roland/
">Webuild.SG Live Panel</a></strong>
			- <a href="http://www.twitter.com/coderkungfu">Michael Cheng, <a href="http://rolandturner.com/contact">Roland Turner</a> and I talk open software, hardware, and business models with WeBuild.SG and their audience.
		</h5>
		<h5>
			<i class="fa fa-youtube"></i>&nbsp;&nbsp;<strong><a href="http://confreaks.tv/videos/rdrc2015-ruby-panel">Red Dot Ruby Conf Panel Discussion</a></strong>
			- <a href="http://www.twitter.com/winstonyw">Winston Teo</a> and I chat with Ruby core team on the state of the community and where Ruby is headed.
		</h5>

	</div>

    </div>
  </div>
</div>
</section>
